Table{
    width: 100%;
}  

.classTable{
    border-spacing:10px;
} 

.line1{
    background-color: #fcae20;
    height: 60px;    
}

.line2{
    background-color: yellow;
    height: 250px;
}

.line3{
    background-color: #0060ff;
    height: 180px;
}

.line4{
    background-color: darkgray;
    height: 115px;
}
